<div class="container" style="margin-top:20px">
    <h2>Change Password</h2>
    <div class="container">
        <form [formGroup]="passwordForm" >
            <div class="row">
                <div class="col-25">
                    <label for="userName">User Name:</label>
                </div>
                <div class="col-75">
                    <input type="text" id="userName" name="userName" formControlName="userName"
                        placeholder="Enter User Name" required #newPw>
                    <div *ngIf="(f.userName.touched || submitted) && f.userName.invalid"
                        class="text-danger">
                        <div *ngIf="f.userName.errors.required">*User Name is required.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="oldPw">Old Password:</label>
                </div>
                <div class="col-75">
                    <input type="text" id="oldPw" name="oldPw" formControlName="oldPw"
                        placeholder="Enter Old Password" required>
                    <div *ngIf="(f.oldPw.touched || submitted) && f.oldPw.invalid"
                        class="text-danger">
                        <div *ngIf="f.oldPw.errors.required">*Old Password is required.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="newPw">New Password:</label>
                </div>
                <div class="col-75">
                    <input type="text" id="newPw" name="newPw" formControlName="newPw"
                        placeholder="Enter New Password" required #newPw>
                    <div *ngIf="(f.newPw.touched || submitted) && f.newPw.invalid"
                        class="text-danger">
                        <div *ngIf="f.newPw.errors.required">*New Password is required.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="cofirmPw">Confirm Password:</label>
                </div>
                <div class="col-75">
                    <input type="text" id="cofirmPw" name="confirmPw" formControlName="confirmPw"
                    placeholder="Enter Confirm Password" required >
                <div *ngIf="(f.confirmPw.touched || submitted) && f.confirmPw.invalid"
                    class="text-danger">
                    <div *ngIf="f.confirmPw.errors.required">*Confirm Password is required.</div>
                    <!-- <div *ngIf="f.confirmPw.errors.pattern">*Password not matching</div> -->
                </div>
                </div>
            </div>
            <br>
            <div class="row">
                <button type="submit" class="btn btn-success" (click)="onSubmit()">Change Password</button>
            </div>
        </form>
    </div>
</div>
